<div class="header">
  交易时间：8:00-17:30（工作日） 客服电话：123456

  <!-- 银行 -->
  我的报价  国股：5.20% 城商：5.20% 三农：--

  lizhiyang1@jd.com | 退出登录

  == LOGO ==

  <!-- 异步接口 -->
  <!-- 1. 待办事项 和 授信协议的消息通知, 2. 如果是银行获取我的报价 -->

  <!-- 银行 -->
  <div>
    首页
    待处理交易: [待签收， 交易申请， 交易单跟踪]
    票据大厅: [票据列表， 按企业合并]
    贴现报价: [报价行情，发布报价]
    授信与协议
    账户中心: [ 管理员 ？权限管理 : null，帮助中心]
  </div>

  <!-- 企业 -->
  <div>
    首页
    待处理: [交易申请，交易单跟踪]
    票据大厅
    贴现报价
    我的票据
    授信与协议
    账户中心: [账户余额，帮助中心]
  </div>
</div>
